@model IEnumerable<Aula1206.Models.Categoria>
@{
    ViewBag.Title = "Categorias";
}

<h2>@ViewBag.Title</h2>

@foreach (var cat in Model)
{
    @*<p class="text-uppercase">
            <b>@cat.Nome</b>
        </p>
        <p>@cat.Descricao</p>*@
    <dl>
        <dt>@cat.Nome</dt>
        @if (!string.IsNullOrEmpty(cat.Descricao))
        {
            <dd>@cat.Descricao</dd>
        }
        else
        {
            <dd>
                <em style="color:grey">Sem Descrição</em>
            </dd>
        }
    </dl>
}